<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>name</key>
				<string>宝马</string>
				<key>icon</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>巴斯博</string>
				<key>icon</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>宝骏</string>
				<key>icon</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>保时捷</string>
				<key>icon</key>
				<string></string>
			</dict>
		</array>
		<key>title</key>
		<string>B</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>name</key>
				<string>长安</string>
				<key>icon</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>长安商用</string>
				<key>icon</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>长城</string>
				<key>icon</key>
				<string></string>
			</dict>
		</array>
		<key>title</key>
		<string>C</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>name</key>
				<string>奇瑞</string>
				<key>icon</key>
				<string></string>
			</dict>
		</array>
		<key>title</key>
		<string>Q</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>name</key>
				<string>兰博基尼</string>
				<key>icon</key>
				<string></string>
			</dict>
		</array>
		<key>title</key>
		<string>L</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Z</string>
		<key>cars</key>
		<array>
			<dict>
				<key>name</key>
				<string>芝诺</string>
				<key>icon</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>中华</string>
				<key>icon</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>众泰</string>
				<key>icon</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
